body{
	font-family: Raleway;
	box-sizing: border-box;
	font-size: 12px;
	margin: auto;

}

/*bodywrap - So fooder  margin*/
.bodywrap{	

}

/*Header - Holds Logo and navbar*/
.header{
	width: 90%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top:2px;
}

.header > div >img{
	max-width: 150px;
	height: auto;	
}
/*Navbar*/
.navbar{
	width: 400px;
}

.header > div> nav{
	width: 100%;
	overflow: auto;
}

.header > div> nav a{
	color: black;
	padding-top: 10px;
	text-decoration: none;
	text-align: center;
	width: 50%;
	float: left;
	border-top: 3px solid white; 
}

.header > div> nav a:hover{
	border-top: 3px solid blue; 
	color:blue;
}

.main{
	width: 90%;
	margin: auto;
}
/*Search*/
.head3{
	line-height: 0.1em;
}
/*Icon*/
.locationdot{
	border-radius: 15px 0px 0px 15px;
	background-color: #F2F2F2;
	border:2px solid #F2F2F2;
	box-shadow: none;
	padding: 10px 10px;
}
/*Input box*/

.searchbox{
	font-family: Raleway;
	padding: 10px 20px;	
}
/*Button*/
.searchbutton{
	border-radius: 0px 15px 15px 0px;
	background: #0065FC;
	border:2px solid #0065FC;
	color: white;
	box-shadow: none;
	padding: 10px 20px;
	font-family: Raleway;
}

.searchicon{
	visibility: hidden;
	font-size: 0px;
}
.searchtext{
	
}

/*Filter*/
.filters{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.filters > div{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 70%
}
/*button parent class*/
.filters> div> button{
	border-radius: 25px;
	background: white;
	border:2px solid #F2F2F2;
	font-family: Raleway;
	padding: 8px 0px;
	
}
/*button span icon*/
.filtersicon{
	color: #0065FC;
	background: #DEEBFF;
	border-radius: 25px;
	padding: 10px 12px;
}
/*button span icon*/
.filterstext{
	font-family: Raleway;
	padding: 4px 12px;
	font-weight: 900;
}

.filters> div> button:hover{
	background: #DEEBFF;
}

.info{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	width:300px;
	padding: 10px 0px;
	align-items: baseline;
}

.infoicon{
	border-radius: 25px;
	padding: 6px 10px;
	border-style: solid;
	border-color: #F2F2F2;
}

.infotext{
	width:600px;
}

/*cards for accomdation and Popular*/
.cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
/*Bold of the accomdation and Popular*/
.waightbold{
	font-weight: bold;
}

.accommodations {
	width: 65%;
	height: fit-content;
	background-color: #F2F2F2;
	padding: 10px;
	border-radius: 25px;	
}

.accomadationhead{
	line-height: 0em;
}

.accommodationswrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 10px;	
}

/*Accomdation Cards*/
.accomadationcard{
	border-radius: 25px;
	background-color: white;
	height: 180px;
	padding: 10px 10px;
}

.accomadationcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.accomadationcard > img{
	border-radius: 25px 25px 0px 0px;
	object-fit: cover;
	width: 150px; 
	height: 90px;
}

.accomadationcard > p{
	padding: 0px 2px;
	line-height: 0.5em;
}
/*What is this*/
.accommodations > p{

}

.accommodations > p > a{
	color: black;
	text-decoration: none;
}

.accommodations > p > a:hover {
	color: #0065FC;
}

.popular {
	display: flex;
	flex-direction: column;
	width: 250px;
	background-color: #F2F2F2;
	padding: 10px;
	border-radius: 25px;
}

.popularhead{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}

.popularwrap{
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	gap: 10px;

}
/*Popular Cards*/
.popularcard{
	display: flex;
	border-radius: 25px;
	background-color: white;
	padding: 10px;
}

.popularcard > img{
	border-radius: 25px 0px 0px 25px;
	object-fit: cover;
	width: 90px; 
	height: 110px;
}

.popularcard:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.popularcard > div > p{
	padding: 1px 10px;
	
}

/*cards Activities*/
.ativitieswrap{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	height:330px;
	padding-bottom: 50px;
}

.ativitiescards{
	display: flex;
	flex-direction: column;
	border-radius: 25px;
	background-color: white;
	height: fit-content;
	width: fit-content;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.ativitiescards:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.ativitiescards > p{
	padding: 12px 12px;
	font-weight: bold;
}

.ativitiesimgL{
	border-radius: 25px 25px 0px 0px;
	object-fit: cover;
	width: 210px; 
	height: 260px;
}

.ativitiesimgM{
	border-radius: 25px 25px 0px 0px;
	object-fit: cover;
	width: 210px; 
	height: 100px;
}
/*Footer*/
.footer{
	background-color: #F2F2F2; 
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 50px;
}

.footer > div{
	display: flex;
	flex-basis: 20%;
	padding: 8px 50px;
	flex-direction: column;	
}

.footer > div > a{
	color: black;
	padding: 8px 0px;
	text-decoration: none;
}

.footer > div > a:hover {
	color: #0065FC;
}

